{% extends "layout.html" %} <!--Hereda de todo el contenido de la plantilla layout.html-->

{% block content %}	<!--esto es lo que pertenece a esta plantilla-->
<div class="container p-4">
<div class="jumbotron">
    <h1 class="display-4">Tienda Dz!</h1>
    <p class="lead">Tienda Dz es una empresa creada en el año 2012 con el fin de brindar el servicio de venta de abarrotes </p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>
</div>
{% endblock %}